<%layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">Edit Hotel</h1>
  <div class="col-6 offset-3">
    <form
      action="/hotels/<%=hotels._id%>?_method=PUT "
      method="POST"
      novalidate
      class="validate-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="hotels[title]"
          value="<%=hotels.title%>"
          required
        />
        <div class="valid-feedback">Looks Good</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="hotels[location]"
          value="<%=hotels.location%>"
          required
        />
        <div class="valid-feedback">Looks Good</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label custom-file-label"
          >Choose Images('jpg','jpeg',pdf)</label
        >
        <input
          class="form-control"
          type="file"
          id="image"
          name="image"
          multiple
        />
        <div class="valid-feedback">Looks Good</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            name="hotels[price]"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            value="<%=hotels.price%>"
            required
          />
        </div>
        <div class="valid-feedback">Looks Good</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="hotels[description]"
          cols="30"
          rows="4"
          required
        >
<%=hotels.description%></textarea
        >
        <div class="valid-feedback">Looks Good</div>
      </div>

      <div class="mb-3">
        <% hotels.images.forEach(function(img, i) { %>
        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%=img.filename%>"
          />
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% })%>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">Edit Hotel</button>
      </div>
    </form>
  </div>
</div>
<a href="/hotels/<%=hotels._id%>">Back To Campground</a>
